* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    color: #d5ee92;
    font-family: Helvetica, Arial, sans-serif;
    background-color: pink;
    }

    /* header styles */
    header {
        padding: 20px 35px;
        background-color: #d5ee92;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    header h1 {
        font-weight: bold;
        font-size: 36px;
        color: #6d6b62;
        margin: 0;
        background-color: #6d6b62 ;
    }

    header h1 a {
        color: #d5ee92;
    }

    header a {
        text-decoration: none;
        color: #6d6b62;
    }

    header nav {
        margin: 7px 0;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    header nav ul li a {
        margin: 0 30px;
        font-weight: bold;
        font-size: 1.5vw;
        border-bottom: 4px solid;
    }